:root{
    --azulRick: #a6cccc;
    --verde: #60a85f;
    --verdeAmarillo: #88e23b;
    --amarillo: #ebe480;
    --verdeOscuro: #048c6c;
    --verdeMilitar: #657132; 
    --azulOscuro: #598fac;
    --azulmasOsc: #232137;
    --cabecera:#4C4E5A;

  }


  @import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

  *{
    margin:0;
    padding: 0;
}
body{
    width: 100vw;
    height: auto;
    background: var(--azulRick);
    display: flex;
    flex-direction: column;
    align-items: center;
}

 nav {
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#4C4E5A; 
    position: relative;
    height: 70px;
    width: 100vw;
    }

    .logo{
       margin-right: 20rem;

    }
    .logoi{
        width: 125px;
        height: 125px;
 
     }
     .menu{
        /* margin-right: 20rem;
        padding: 0;
        list-style: none; */
        /* background-color:var(--cabecera); */
        font-family: "Delicious Handrawn", cursive;
        display: flex;
        gap: 30px;
        align-items: center;
        
    }
    
        .menu li {
            display: inline-block;
            line-height: 50px;
            margin-left: 10px;
            margin-bottom: 0.5rem;
            /*list-style-type: none;*/

        }
    
         .menu a {  
            text-decoration: none;
            display: block;
            margin-left: 0;
            border-radius: 50px;
            font-size: 1.5rem;   
            padding: 10px 25px;
            color:#a6cccc;
            /* background-color: #11101b; */
            transition: background-color 0.2s;
            font-family: "Delicious Handrawn", cursive;

        }
    
        .menu a:hover {
            color: #88e23b; 
           }
        .menu-toggle {
            display: none; /* Ocultar el botón en pantallas grandes */
          }

          @media (max-width: 768px) {
            .menu {
              display: flex;
            }
            
            .menu-toggle {
              display: flex;
              position: fixed;
              top: 10px;
              right: 20px;
              font-size: 24px;
              background: transparent;
              border: none;
              cursor: pointer;
              z-index: 999;
              color: #fff;
            }
          }

        @media (max-width:600px) {
            nav ul{
                position: absolute;
                top: 50px;
                left: 0;
                right: 0;
                flex-direction: column;
                text-align: center;
                background: #11101b;
                gap: 0;
                overflow: hidden;
            }
            nav ul li{
                padding: 20px;
                padding-top: 0;
            }
            .menu-icon{
                display: block;
            }
            #menuList{
                transition: all 0.5s;
            }
        }
      
        .menu-icon{
            display: none;
        }
        
        .menu-icon i{
            color: #eae9f3;
            font-size: 30px;
        }
        

h1{
font-size: 5rem;
text-shadow: 0 0 15px var(--azulOscuro);
color: var(--azulmasOsc);
font-family: "Delicious Handrawn", cursive;
}

hr{
    width: 90%;
    margin: 1rem;
}

.imgCard{
    width:50px;
    border-radius: 5%;
}

main{
    margin-top: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txtPersonajes{
    width: 30rem;
    height: 1rem;
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: var(--azulOscuro);
    padding: 1rem;
    color:white;
    font-family: "Delicious Handrawn", cursive;
    flex-wrap:wrap;
}

.containerCards{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /*sirve para responsive*/
}
.cardPersonajes{
    width: 21rem;
    height: 10rem;
    background-color: var(--verdeOscuro);
    border: #048c6c;
    border-radius: 10px;
    margin: 1rem;
    display: flex; 
}

.cardPersonajes > img{
    width: 50%;
    height: 100%;
}
.descripcionCard{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2{
    text-align: center;
    color: var(--amarillo);
    text-shadow: 0 0 15px var(--azulmasOsc);
}
h4{
    text-align: center;
    color: var(--amarillo);
    text-shadow: 0 0 7px var(--amarillo);
    margin-top: 0.5rem;
    
}
p{
    text-align: center;
    color: var(--amarillo);
    text-shadow: 0 0 5px var(--amarillo);
    margin-top: 0.5rem;
}

footer{
    width: 100%;
    height: 1.5rem;
    background-color: #232137;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
} 

.favCard{
    background-color: --verdeAmarillo(133, 39, 39);
    border: 3px solid white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--azulRick);
    padding: 0.1rem;

    }
  
    .favCard:hover{
      border: 3px solid;
      transition: all 300ms ease;
    }
  
    .favCard ion-icon{
      font-weight: 900;
      font-size: 1rem;
    }

  
